* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-family: roboto sans-serif;
}

nav div:nth-child(1) {
  display: flex;
  gap: 20px;
}

nav div:nth-child(3) {
  display: flex;
  gap: 35px;
}

.navBar {
  padding: 30px 28px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.bars {
  font-size: 19px;
  margin-top: 3px;
  border-radius: 50%;
  padding: 10px 10px;
}

.bars:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.youtube-logo {
  width: 120px;
  height: 30px;
  margin-top: 6px;
}

.search-bar {
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 40px;
  display: flex;
}

.search-input {
  width: 100%;
  border-radius: 50px 0 0 50px;
  padding-left: 20px;
  border: 0.7px solid #d3d3d3;
  outline: none;
}

.search-btn {
  font-size: 20px;
  padding: 0 20px;
  border-radius: 0 50px 50px 0;
  border: 0.7px solid #d3d3d3;
}

.video-icon {
  width: 30px;
  height: 30px;
  margin-top: 12px;
  border-radius: 50%;
}

.video-icon:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.bell-icon {
  height: 30px;
  width: 30px;
  margin-top: 14px;
  border-radius: 50%;
}

.bell-icon:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.microphone-icon {
  position: absolute;
  font-size: 19px;
  margin: 0 0 10px 30px;
  background: #f0f0f0;
  padding: 13px 15px;
  border-radius: 50%;
}

.microphone-icon:hover {
  cursor: pointer;
  background: rgba(128, 128, 128, 0.349);
  border-radius: 50%;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 6px;
}

/* .side-bar-container {
  background: rgba(0, 0, 0, 0.226);
  position: absolute;
} */

.side-bar {
  position: fixed;
  top: 60px;
  left: 0;
  min-width: 220px;
  width: 220px;
  height: calc(1950px - 60px);
  background: white;
  padding: 0 10px;
}

a {
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  width: 100%;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
a:hover {
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 10px;
}

a img {
  margin-right: 20px;
  width: 25px;
}
.line {
  color: #f0f0f0;
}

.filters {
  position: fixed;
  top: 60px;
  left: 220px;
  width: calc(100% - 220px);
  height: 60px;
  background: white;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter-option {
  padding: 9px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
}
.filter-option:hover {
  background: #d3d3d3;
  cursor: pointer;
}
.filter-option:active {
  color: white;
  background: black;
}

.video-container {
  width: calc(100% - 220px);
  margin-top: 120px;
  margin-left: 220px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 20px 5px;
  overflow-x: hidden;
}

.video {
  min-height: 250px;
  height: auto;
}

.thumbnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.video-content {
  height: 100px;
  width: 250px;
  padding: 10px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
}

.video-content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.channel-title {
  height: 39px;
  overflow: hidden;
  width: 200px;
}

.channel-name {
  font-size: 14px;
  color: rgb(128, 128, 128);
}
